%logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}

%item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

%item2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

%title {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0%;
}

%footerItem {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
}

%footer-rights {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

%cardTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
}
